@import "../../../styles/variables";
@import "../../../styles/mixins";

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    @include respond(tab-port) {
      letter-spacing: 1rem;
    }
    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.5rem;
    @include respond(phone) {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
  }
}
