@import "./variables";

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin addGradientToText {
  display: inline-block;
  background-image: linear-gradient(
                  to right,
                  $color-primary-light,
                  $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin primaryGradient {
  background-image: linear-gradient(
                  to right bottom,
                  $color-primary-light,
                  $color-primary-dark
  );
}
@mixin secondaryGradient {
  background-image: linear-gradient(
                  to right bottom,
                  $color-secondary-light,
                  $color-secondary-dark
  );
}
@mixin tertiaryGradient {
  background-image: linear-gradient(
                  to right bottom,
                  $color-tertiary-light,
                  $color-tertiary-dark
  );
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
MEDIA QUERIES MANAGER
1em = 16px

BREAKPOINT OPTIONS
- phone
- tab-port
- tab-land
- big-desk

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
  @if $breakpoint == omni {
    @media (max-width: 48rem) {
      @content;
    } //A universal screen size breakpoint
  }
}
